// 项目提供scss全局变量
// 定义项目主题颜色
$base-color: #169bd5;
$red-color: #ff0000;
$base-a-active: #047caf;

// // 左侧菜单的宽度
// $base-menu-width: 190px;
// // 左侧菜单的背景颜色
// $base-menu-background: #20335d;
// // 左侧菜单logo的高度设置
// $base-menu-logo-height: 56px;


// 顶部导航的高度
// $base-tabbar-height: 56px;
// $base-tabbar-background: #e6effb;

// 主题字体颜色
$base-font-color: #333;
$base-font-size: 14px;





$tip-font-color: #9a9a9a;
$highlight-font-color: #c28448;
$sub-font-color: #595959;
$no-data-font-color: #b9b9b9;

// tab 头部背景颜色
// $base-tab-header-background: #25396f;
// $base-tab-header-color: #FFF;


// border
// $base-border-color: #d7d7d7;
